* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.highlight-row {
  background-color: #f6ebff !important;
  transition: background-color 0.3s ease;
}

.ant-input {
  border-radius: 5px;
}
.ant-input-search {
  border-radius: 5px;
}
.ant-input-password {
  border-radius: 5px;
}
.ant-table-expanded-row > td {
  border-bottom: none !important;
}
.ant-table-row.expanded-parent-row > td {
  border-bottom: none !important;
}

/*Dashboard*/
.responsive-padding {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 600px) {
  .responsive-padding {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1000px) {
  .responsive-padding {
    padding-left: 70px;
    padding-right: 70px;
  }
}
